In [1]:
import pandas as pd

In [2]:
%run data_cleaning.ipynb

In [3]:
df_jakarta.dtypes

out_airline_company             object
in_airline_company              object
dep_city                        object
arr_city                        object
out_dep_date            datetime64[ns]
out_dep_time                    object
out_duration           timedelta64[ns]
out_stop_num                    object
out_arr_date            datetime64[ns]
out_arr_time                    object
in_dep_date             datetime64[ns]
in_dep_time                     object
in_duration            timedelta64[ns]
in_stop_num                     object
in_arr_date             datetime64[ns]
in_arr_time                     object
hour_scrap                       int64
day_scrap                        int64
ticket_price                   float64
currency                        object
dtype: object

In [8]:
df_jakarta["out_airline_company"].describe()

count           169
unique            2
top       Lufthansa
freq            164
Name: out_airline_company, dtype: object

In [9]:
df_bangkok["out_airline_company"].describe()

count           113
unique            2
top       Lufthansa
freq            101
Name: out_airline_company, dtype: object