In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("..\\web_scrapping\\Bxl_Jakarta\\booking_14_may_18_pm.csv")
df

,airline_company,dep_city,arr_city,out_dep_date,out_dep_time,out_duration,out_stop_num,out_arr_date,out_arr_time,in_dep_date,in_dep_time,in_duration,in_stop_num,in_arr_date,in_arr_time,price_ticket,hour_scrap,day_scrap
0,Qatar Airways,BRU,CGK,Aug 1,9:05 AM,17h 35m,1 stop,Aug 2,7:40 AM,Aug 15,9:05 AM,34h 05m,1 stop,Aug 16,2:10 PM,"1 521,51 €",18,14
1,Qatar Airways,BRU,CGK,Aug 1,9:05 AM,31h 25m,1 stop,Aug 2,9:30 PM,Aug 15,9:05 AM,34h 05m,1 stop,Aug 16,2:10 PM,"1 524,79 €",18,14
2,Qatar Airways,BRU,CGK,Aug 1,9:05 AM,17h 35m,1 stop,Aug 2,7:40 AM,Aug 15,7:00 PM,18h 10m,2 stops,Aug 16,8:10 AM,"1 521,51 €",18,14
3,Lufthansa,BRU,CGK,Aug 1,8:05 PM,17h 00m,2 stops,Aug 2,6:05 PM,Aug 15,7:00 PM,18h 10m,2 stops,Aug 16,8:10 AM,"2 472,62 €",18,14
4,Lufthansa,BRU,CGK,Aug 1,8:05 PM,17h 00m,2 stops,Aug 2,6:05 PM,Aug 15,7:00 PM,18h 35m,2 stops,Aug 16,8:35 AM,"2 489,71 €",18,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,Lufthansa,BRU,CGK,Aug 1,4:30 PM,25h 10m,2 stops,Aug 2,10:40 PM,Aug 15,7:00 PM,23h 55m,2 stops,Aug 16,1:55 PM,"2 685,59 €",18,14
106,Lufthansa,BRU,CGK,Aug 1,6:05 PM,23h 35m,2 stops,Aug 2,10:40 PM,Aug 15,7:00 PM,25h 50m,2 stops,Aug 16,3:50 PM,"2 485,59 €",18,14
107,Lufthansa,BRU,CGK,Aug 1,1:15 PM,23h 50m,2 stops,Aug 2,6:05 PM,Aug 15,7:00 PM,25h 50m,2 stops,Aug 16,3:50 PM,"2 485,59 €",18,14
108,"Lufthansa, operated by Brussels Airlines",BRU,CGK,Aug 1,7:00 PM,22h 40m,2 stops,Aug 2,10:40 PM,Aug 15,7:00 PM,23h 00m,2 stops,Aug 16,1:00 PM,"2 685,59 €",18,14
109,Lufthansa,BRU,CGK,Aug 1,4:30 PM,25h 10m,2 stops,Aug 2,10:40 PM,Aug 15,7:00 PM,25h 50m,2 stops,Aug 16,3:50 PM,"2 485,59 €",18,14

In [5]:
df['airline_company'] = df['airline_company'].str.split(",").str[0]
df['out_stop_num'] = df['out_stop_num'].str.split(' ').str[0]
df['in_stop_num'] = df['in_stop_num'].str.split(' ').str[0]
df['price_ticket'] = df['price_ticket'].str.replace("€", "")
df['price_ticket'] = df['price_ticket'].str.replace(" ", "")
df

,airline_company,dep_city,arr_city,out_dep_date,out_dep_time,out_duration,out_stop_num,out_arr_date,out_arr_time,in_dep_date,in_dep_time,in_duration,in_stop_num,in_arr_date,in_arr_time,price_ticket,hour_scrap,day_scrap
0,Qatar Airways,BRU,CGK,Aug 1,9:05 AM,17h 35m,1,Aug 2,7:40 AM,Aug 15,9:05 AM,34h 05m,1,Aug 16,2:10 PM,"1521,51",18,14
1,Qatar Airways,BRU,CGK,Aug 1,9:05 AM,31h 25m,1,Aug 2,9:30 PM,Aug 15,9:05 AM,34h 05m,1,Aug 16,2:10 PM,"1524,79",18,14
2,Qatar Airways,BRU,CGK,Aug 1,9:05 AM,17h 35m,1,Aug 2,7:40 AM,Aug 15,7:00 PM,18h 10m,2,Aug 16,8:10 AM,"1521,51",18,14
3,Lufthansa,BRU,CGK,Aug 1,8:05 PM,17h 00m,2,Aug 2,6:05 PM,Aug 15,7:00 PM,18h 10m,2,Aug 16,8:10 AM,"2472,62",18,14
4,Lufthansa,BRU,CGK,Aug 1,8:05 PM,17h 00m,2,Aug 2,6:05 PM,Aug 15,7:00 PM,18h 35m,2,Aug 16,8:35 AM,"2489,71",18,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,Lufthansa,BRU,CGK,Aug 1,4:30 PM,25h 10m,2,Aug 2,10:40 PM,Aug 15,7:00 PM,23h 55m,2,Aug 16,1:55 PM,"2685,59",18,14
106,Lufthansa,BRU,CGK,Aug 1,6:05 PM,23h 35m,2,Aug 2,10:40 PM,Aug 15,7:00 PM,25h 50m,2,Aug 16,3:50 PM,"2485,59",18,14
107,Lufthansa,BRU,CGK,Aug 1,1:15 PM,23h 50m,2,Aug 2,6:05 PM,Aug 15,7:00 PM,25h 50m,2,Aug 16,3:50 PM,"2485,59",18,14
108,Lufthansa,BRU,CGK,Aug 1,7:00 PM,22h 40m,2,Aug 2,10:40 PM,Aug 15,7:00 PM,23h 00m,2,Aug 16,1:00 PM,"2685,59",18,14
109,Lufthansa,BRU,CGK,Aug 1,4:30 PM,25h 10m,2,Aug 2,10:40 PM,Aug 15,7:00 PM,25h 50m,2,Aug 16,3:50 PM,"2485,59",18,14