# Data Visualization

### Setting-up

In [1]:
import pandas as pd
%run data_cleaning.ipynb

In [4]:
nyc = df1
sao_paulo = df2

In [6]:
nyc.describe()

,out_duration,in_duration,hour_scrap,day_scrap,ticket_price
count,94,94,94.000000,94.0,94.000000
mean,0 days 15:26:10.212765957,0 days 15:31:42.127659574,17.021277,20.0,1006.367766
std,0 days 06:14:02.892065313,0 days 05:24:41.880077096,1.005134,0.0,140.794106
min,0 days 11:10:00,0 days 09:40:00,16.000000,20.0,778.720000
25%,0 days 11:25:00,0 days 11:20:00,16.000000,20.0,888.160000
50%,0 days 12:10:00,0 days 15:45:00,18.000000,20.0,1071.160000
75%,0 days 22:42:30,0 days 17:00:00,18.000000,20.0,1092.362500
max,1 days 02:00:00,1 days 08:10:00,18.000000,20.0,1198.390000

In [7]:
sao_paulo.describe()

,out_duration,in_duration,hour_scrap,day_scrap,ticket_price
count,91,91,91.000000,91.0,91.000000
mean,0 days 17:55:13.186813186,0 days 22:41:58.681318681,17.010989,20.0,1928.389890
std,0 days 03:36:01.706067328,0 days 07:17:55.915935353,1.005479,0.0,134.602578
min,0 days 13:45:00,0 days 14:30:00,16.000000,20.0,1799.680000
25%,0 days 14:35:00,0 days 18:05:00,16.000000,20.0,1799.720000
50%,0 days 19:10:00,0 days 19:45:00,18.000000,20.0,1944.420000
75%,0 days 19:25:00,1 days 08:20:00,18.000000,20.0,1948.600000
max,1 days 01:10:00,1 days 10:30:00,18.000000,20.0,2215.750000