# DATA EXPLORATION

In [1]:
import pandas as pd

In [2]:
%run data_cleaning.ipynb

In [3]:
nyc = df1
sao = df2

## Combined dataset

In [4]:
dataset = pd.concat([nyc, sao]).reset_index(drop=True)
dataset

,out_airline_company,in_airline_company,dep_city,arr_city,out_dep_date,out_dep_time,out_duration,out_stop_num,out_arr_date,out_arr_time,in_dep_date,in_dep_time,in_duration,in_stop_num,in_arr_date,in_arr_time,hour_scrap,day_scrap,ticket_price
0,Lufthansa,Lufthansa,BRU,JFK,2023-08-01,09:35,0 days 11:25:00,1,2023-08-01,15:00,2023-08-15,15:55,0 days 09:40:00,1,2023-08-16,07:35,16,20,1176.01
1,Lufthansa,Lufthansa,BRU,JFK,2023-08-01,13:15,0 days 12:50:00,1,2023-08-01,20:05,2023-08-15,17:30,0 days 16:20:00,1,2023-08-16,15:50,16,20,923.39
2,Lufthansa,Lufthansa,BRU,JFK,2023-08-01,08:50,0 days 12:10:00,1,2023-08-01,15:00,2023-08-15,15:55,0 days 09:40:00,1,2023-08-16,07:35,16,20,1176.01
3,Lufthansa,Lufthansa,BRU,JFK,2023-08-01,09:35,0 days 11:25:00,1,2023-08-01,15:00,2023-08-15,15:55,0 days 10:40:00,1,2023-08-16,08:35,16,20,1176.01
4,Lufthansa,Lufthansa,BRU,JFK,2023-08-01,09:35,0 days 11:25:00,1,2023-08-01,15:00,2023-08-15,17:30,0 days 10:50:00,1,2023-08-16,10:20,16,20,1176.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11614,Swiss,Swiss,BRU,GRU,2023-08-01,15:00,0 days 19:25:00,2,2023-08-02,05:25,2023-08-15,18:45,1 days 08:35:00,2,2023-08-17,08:20,12,31,2126.92
11615,Swiss,Swiss,BRU,GRU,2023-08-01,09:15,1 days 01:10:00,2,2023-08-02,05:25,2023-08-15,18:45,1 days 08:35:00,2,2023-08-17,08:20,12,31,1976.92
11616,Swiss,Swiss,BRU,GRU,2023-08-01,09:15,1 days 01:10:00,2,2023-08-02,05:25,2023-08-15,18:45,1 days 08:35:00,2,2023-08-17,08:20,12,31,1976.92
11617,Swiss,Swiss,BRU,GRU,2023-08-01,09:45,1 days 00:40:00,1,2023-08-02,05:25,2023-08-15,18:45,1 days 08:35:00,2,2023-08-17,08:20,12,31,2100.92
11618,Swiss,Swiss,BRU,GRU,2023-08-01,09:15,1 days 01:10:00,2,2023-08-02,05:25,2023-08-15,18:45,1 days 08:35:00,2,2023-08-17,08:20,12,31,2126.92

In [5]:
dataset.columns

Index(['out_airline_company', 'in_airline_company', 'dep_city', 'arr_city',
       'out_dep_date', 'out_dep_time', 'out_duration', 'out_stop_num',
       'out_arr_date', 'out_arr_time', 'in_dep_date', 'in_dep_time',
       'in_duration', 'in_stop_num', 'in_arr_date', 'in_arr_time',
       'hour_scrap', 'day_scrap', 'ticket_price'],
      dtype='object')

In [6]:
dataset.dtypes

out_airline_company             object
in_airline_company              object
dep_city                        object
arr_city                        object
out_dep_date            datetime64[ns]
out_dep_time                    object
out_duration           timedelta64[ns]
out_stop_num                     int32
out_arr_date            datetime64[ns]
out_arr_time                    object
in_dep_date             datetime64[ns]
in_dep_time                     object
in_duration            timedelta64[ns]
in_stop_num                      int32
in_arr_date             datetime64[ns]
in_arr_time                     object
hour_scrap                       int64
day_scrap                        int64
ticket_price                   float64
dtype: object

In [7]:
dataset.out_airline_company.unique()

array(['Lufthansa', 'Swiss'], dtype=object)

In [8]:
print('Total number of rows: ', dataset.shape[0])
print('Total number of columns: ', dataset.shape[1])

Total number of rows:  11619
Total number of columns:  19

In [9]:
dataset.loc[(dataset.out_airline_company=='Lufthansa') & (dataset.in_airline_company=='Lufthansa') | (dataset.out_airline_company=='Swiss') & (dataset.in_airline_company=='Swiss')].shape

(11619, 19)

## Destinations

in_airline_company and out_airline_company have the same values for a given row.
To describe either in_airline_company or out_air_line company is the same. This gave us:
* the count (the length of the dataframe rows),
* number of unique values (2: Swiss or Lufthansa), 
* the top (the unique value which is the most frequent in the dataframe) and 
* the frequency (which is the number of frequecy of the top).

##### From Brussels to New York City

In [10]:
nyc["out_airline_company"].describe()

count      5835
unique        2
top       Swiss
freq       3003
Name: out_airline_company, dtype: object

In [11]:
nyc.groupby('out_airline_company')['ticket_price'].describe()

,count,mean,std,min,25%,50%,75%,max
out_airline_company,,,,,,,,
Lufthansa,2832.0,1146.161497,491.568339,923.37,1051.95,1076.70,1149.75,7499.98
Swiss,3003.0,951.797872,117.865578,678.72,890.28,936.26,1074.28,1099.94

##### From Brussels to São Paulo

In [12]:
sao["out_airline_company"].describe()

count          5784
unique            2
top       Lufthansa
freq           3110
Name: out_airline_company, dtype: object

In [13]:
sao.groupby('out_airline_company')['ticket_price'].describe()

,count,mean,std,min,25%,50%,75%,max
out_airline_company,,,,,,,,
Lufthansa,3110.0,2284.187518,917.530868,1049.72,1967.59,2215.75,2334.19,8245.77
Swiss,2674.0,1913.817640,184.426702,779.35,1799.71,1944.42,2094.42,2126.92