In [11]:
import pandas as pd

In [12]:
%run data_cleaning.ipynb

In [13]:
nyc = df1
sao = df2

In [14]:
nyc

,out_airline_company,in_airline_company,dep_city,arr_city,out_dep_date,out_dep_time,out_duration,out_stop_num,out_arr_date,out_arr_time,in_dep_date,in_dep_time,in_duration,in_stop_num,in_arr_date,in_arr_time,hour_scrap,day_scrap,ticket_price,currency
0,Lufthansa,Lufthansa,BRU,JFK,2023-08-01,09:35,0 days 11:25:00,1,2023-08-01,15:00,2023-08-15,15:55,0 days 09:40:00,1,2023-08-16,07:35,16,20,1176.01,€
1,Lufthansa,Lufthansa,BRU,JFK,2023-08-01,13:15,0 days 12:50:00,1,2023-08-01,20:05,2023-08-15,17:30,0 days 16:20:00,1,2023-08-16,15:50,16,20,923.39,€
2,Lufthansa,Lufthansa,BRU,JFK,2023-08-01,08:50,0 days 12:10:00,1,2023-08-01,15:00,2023-08-15,15:55,0 days 09:40:00,1,2023-08-16,07:35,16,20,1176.01,€
3,Lufthansa,Lufthansa,BRU,JFK,2023-08-01,09:35,0 days 11:25:00,1,2023-08-01,15:00,2023-08-15,15:55,0 days 10:40:00,1,2023-08-16,08:35,16,20,1176.01,€
4,Lufthansa,Lufthansa,BRU,JFK,2023-08-01,09:35,0 days 11:25:00,1,2023-08-01,15:00,2023-08-15,17:30,0 days 10:50:00,1,2023-08-16,10:20,16,20,1176.01,€
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1283,Swiss,Swiss,BRU,JFK,2023-08-01,09:45,0 days 12:30:00,1,2023-08-01,16:15,2023-08-15,19:25,0 days 17:00:00,1,2023-08-16,18:25,22,22,1058.72,€
1284,Swiss,Swiss,BRU,JFK,2023-08-01,09:45,0 days 12:30:00,1,2023-08-01,16:15,2023-08-15,20:55,0 days 16:35:00,1,2023-08-16,19:30,22,22,1074.28,€
1285,Swiss,Swiss,BRU,JFK,2023-08-01,20:15,1 days 02:00:00,1,2023-08-02,16:15,2023-08-15,19:25,1 days 06:55:00,1,2023-08-17,08:20,22,22,684.88,€
1286,Swiss,Swiss,BRU,JFK,2023-08-01,20:15,1 days 02:00:00,1,2023-08-02,16:15,2023-08-15,19:25,1 days 08:10:00,1,2023-08-17,09:35,22,22,686.88,€
1287,Swiss,Swiss,BRU,JFK,2023-08-01,20:15,1 days 02:00:00,1,2023-08-02,16:15,2023-08-15,20:55,1 days 05:50:00,1,2023-08-17,08:45,22,22,726.28,€

In [15]:
sao

,out_airline_company,in_airline_company,dep_city,arr_city,out_dep_date,out_dep_time,out_duration,out_stop_num,out_arr_date,out_arr_time,in_dep_date,in_dep_time,in_duration,in_stop_num,in_arr_date,in_arr_time,hour_scrap,day_scrap,ticket_price,currency
0,Lufthansa,Lufthansa,BRU,GRU,2023-08-01,20:05,0 days 13:45:00,1,2023-08-02,04:50,2023-08-15,18:15,0 days 14:40:00,1,2023-08-16,13:55,16,20,2115.75,€
1,Lufthansa,Lufthansa,BRU,GRU,2023-08-01,20:05,0 days 13:45:00,1,2023-08-02,04:50,2023-08-15,18:15,0 days 18:05:00,1,2023-08-16,17:20,16,20,1948.60,€
2,Lufthansa,Lufthansa,BRU,GRU,2023-08-01,19:15,0 days 14:35:00,1,2023-08-02,04:50,2023-08-15,18:15,0 days 18:05:00,1,2023-08-16,17:20,16,20,1948.60,€
3,Lufthansa,Lufthansa,BRU,GRU,2023-08-01,20:05,0 days 13:45:00,1,2023-08-02,04:50,2023-08-15,18:15,0 days 20:05:00,1,2023-08-16,19:20,16,20,1948.60,€
4,Lufthansa,Lufthansa,BRU,GRU,2023-08-01,18:05,0 days 15:45:00,1,2023-08-02,04:50,2023-08-15,18:15,0 days 18:05:00,1,2023-08-16,17:20,16,20,1948.60,€
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1149,Swiss,Swiss,BRU,GRU,2023-08-01,15:00,0 days 19:25:00,1,2023-08-02,05:25,2023-08-15,18:45,1 days 10:30:00,1,2023-08-17,10:15,22,22,1799.92,€
1150,Swiss,Swiss,BRU,GRU,2023-08-01,06:55,1 days 03:30:00,1,2023-08-02,05:25,2023-08-15,18:45,0 days 19:45:00,1,2023-08-16,19:30,22,22,2049.41,€
1151,Swiss,Swiss,BRU,GRU,2023-08-01,09:45,1 days 00:40:00,1,2023-08-02,05:25,2023-08-15,18:45,1 days 09:00:00,1,2023-08-17,08:45,22,22,1799.92,€
1152,Swiss,Swiss,BRU,GRU,2023-08-01,09:45,1 days 00:40:00,1,2023-08-02,05:25,2023-08-15,18:45,1 days 10:30:00,1,2023-08-17,10:15,22,22,1799.92,€
1153,Swiss,Swiss,BRU,GRU,2023-08-01,06:55,1 days 03:30:00,1,2023-08-02,05:25,2023-08-15,18:45,1 days 09:00:00,1,2023-08-17,08:45,22,22,2049.41,€

In [16]:
combined_dataset = pd.concat([nyc, sao]).reset_index(drop=True)
combined_dataset

,out_airline_company,in_airline_company,dep_city,arr_city,out_dep_date,out_dep_time,out_duration,out_stop_num,out_arr_date,out_arr_time,in_dep_date,in_dep_time,in_duration,in_stop_num,in_arr_date,in_arr_time,hour_scrap,day_scrap,ticket_price,currency
0,Lufthansa,Lufthansa,BRU,JFK,2023-08-01,09:35,0 days 11:25:00,1,2023-08-01,15:00,2023-08-15,15:55,0 days 09:40:00,1,2023-08-16,07:35,16,20,1176.01,€
1,Lufthansa,Lufthansa,BRU,JFK,2023-08-01,13:15,0 days 12:50:00,1,2023-08-01,20:05,2023-08-15,17:30,0 days 16:20:00,1,2023-08-16,15:50,16,20,923.39,€
2,Lufthansa,Lufthansa,BRU,JFK,2023-08-01,08:50,0 days 12:10:00,1,2023-08-01,15:00,2023-08-15,15:55,0 days 09:40:00,1,2023-08-16,07:35,16,20,1176.01,€
3,Lufthansa,Lufthansa,BRU,JFK,2023-08-01,09:35,0 days 11:25:00,1,2023-08-01,15:00,2023-08-15,15:55,0 days 10:40:00,1,2023-08-16,08:35,16,20,1176.01,€
4,Lufthansa,Lufthansa,BRU,JFK,2023-08-01,09:35,0 days 11:25:00,1,2023-08-01,15:00,2023-08-15,17:30,0 days 10:50:00,1,2023-08-16,10:20,16,20,1176.01,€
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2437,Swiss,Swiss,BRU,GRU,2023-08-01,15:00,0 days 19:25:00,1,2023-08-02,05:25,2023-08-15,18:45,1 days 10:30:00,1,2023-08-17,10:15,22,22,1799.92,€
2438,Swiss,Swiss,BRU,GRU,2023-08-01,06:55,1 days 03:30:00,1,2023-08-02,05:25,2023-08-15,18:45,0 days 19:45:00,1,2023-08-16,19:30,22,22,2049.41,€
2439,Swiss,Swiss,BRU,GRU,2023-08-01,09:45,1 days 00:40:00,1,2023-08-02,05:25,2023-08-15,18:45,1 days 09:00:00,1,2023-08-17,08:45,22,22,1799.92,€
2440,Swiss,Swiss,BRU,GRU,2023-08-01,09:45,1 days 00:40:00,1,2023-08-02,05:25,2023-08-15,18:45,1 days 10:30:00,1,2023-08-17,10:15,22,22,1799.92,€
2441,Swiss,Swiss,BRU,GRU,2023-08-01,06:55,1 days 03:30:00,1,2023-08-02,05:25,2023-08-15,18:45,1 days 09:00:00,1,2023-08-17,08:45,22,22,2049.41,€

In [17]:
combined_dataset.loc[(combined_dataset.out_airline_company=='Lufthansa') & (combined_dataset.in_airline_company=='Lufthansa')].shape[0]

1070

In [18]:
combined_dataset.loc[(combined_dataset.out_airline_company=='Swiss') & (combined_dataset.in_airline_company=='Swiss')].shape[0]

1372

In [19]:
combined_dataset.isnull().sum()

out_airline_company    0
in_airline_company     0
dep_city               0
arr_city               0
out_dep_date           0
out_dep_time           0
out_duration           0
out_stop_num           0
out_arr_date           0
out_arr_time           0
in_dep_date            0
in_dep_time            0
in_duration            0
in_stop_num            0
in_arr_date            0
in_arr_time            0
hour_scrap             0
day_scrap              0
ticket_price           0
currency               0
dtype: int64

In [20]:
combined_dataset.dtypes

out_airline_company             object
in_airline_company              object
dep_city                        object
arr_city                        object
out_dep_date            datetime64[ns]
out_dep_time                    object
out_duration           timedelta64[ns]
out_stop_num                    object
out_arr_date            datetime64[ns]
out_arr_time                    object
in_dep_date             datetime64[ns]
in_dep_time                     object
in_duration            timedelta64[ns]
in_stop_num                     object
in_arr_date             datetime64[ns]
in_arr_time                     object
hour_scrap                       int64
day_scrap                        int64
ticket_price                   float64
currency                        object
dtype: object